practiced on - https://platform.stratascratch.com/coding?is_freemium=1&difficulties=1&code_type=2

##Salaries Differences `Linkedin`

Calculates the difference between the highest salaries in the marketing and engineering departments. Output just the absolute difference in salaries.

In [ ]:
import pandas as pd

# Start writing code
df = db_employee.merge(db_dept,left_on='department_id',right_on='id').query('department == "marketing" | department == "engineering"').groupby('department')['salary'].max()

df.max() - df.min()

## Finding Updated Records `Microsoft`

We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information. Find the current salary of each employee assuming that salaries increase each year. Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
ms_employee_salary.sort_values(by=['first_name','salary'],ascending=[True,False]).drop_duplicates(subset=['first_name','last_name']).sort_values(by='id')[['id','first_name','last_name','department_id','salary']]

## Workers With The Highest Salaries `Amazon`

Find the job titles of the employees with the highest salary. If multiple employees have the same highest salary, include the job titles for all such employees.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
df = worker.merge(title,right_on='worker_ref_id',left_on='worker_id')

df[df['salary'] == df['salary'].max()]['worker_title']

## Bikes Last Used `DorrDash`

Find the last time each bike was in use. Output both the bike number and the date-timestamp of the bike's last use (i.e., the date-time the bike was returned). Order the results by bikes that were most recently used.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
dc_bikeshare_q1_2012.groupby('bike_number',as_index=False)['end_time'].max().sort_values(by='end_time',ascending=False)

## Average Salaries `Glassdoor`

Compare each employee's salary with the average salary of the corresponding department.
Output the department, first name, and salary of employees along with the average salary of that department.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
df = employee.groupby('department',as_index=False)['salary'].mean()

df.merge(employee,on='department')[['department','first_name','salary_y','salary_x']]

## Customer Details `Apple`

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
customers.merge(orders,left_on='id',right_on='cust_id',how='left')[['first_name','last_name','city','order_details']].sort_values(by=['first_name','order_details'])

## Number Of Bathrooms And Bedrooms `Airbnb`

Find the average number of bathrooms and bedrooms for each cityâ€™s property types. Output the result along with the city name and the property type.

In [1]:
# Import your libraries
import pandas as pd

# Start writing code
airbnb_search_details.groupby(['city','property_type'],as_index=False).agg(
    {
        'bathrooms' : 'mean',
        'bedrooms' : 'mean'
    })

## Workers by Department Since April `Amazon`

Find the number of workers by department who joined on or after April 1, 2014.


Output the department name along with the corresponding number of workers.


Sort the results based on the number of workers in descending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
worker[worker['joining_date'] >= '2014-04-01']['department'].value_counts().reset_index()

## Unique Users Per Client Per Month `Apple`

Write a query that returns the number of unique users per client for each month. Assume all events occur within the same year, so only month needs to be be in the output as a number from 1 to 12.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
fact_events['month'] = fact_events['time_id'].dt.month

fact_events.groupby(['month','client_id'],as_index=False)['user_id'].nunique()

## Top Ranked Songs `Spotify`

Find songs that have ranked in the top position. Output the track name and the number of times it ranked at the top. Sort your records by the number of times the song was in the top position in descending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
spotify_worldwide_daily_song_ranking.query('position == 1')['trackname'].value_counts().reset_index()

## Artist Appearance Count `Spotify`

Find how many times each artist appeared on the Spotify ranking list.
Output the artist name along with the corresponding number of occurrences.
Order records by the number of occurrences in descending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
spotify_worldwide_daily_song_ranking['artist'].value_counts().reset_index()

## Lyft Driver Wages `Lyft`

Find all Lyft drivers who earn either equal to or less than 30k USD or equal to or more than 70k USD.
Output all details related to retrieved records.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
lyft_drivers[(lyft_drivers['yearly_salary'] <= 30000) | (lyft_drivers['yearly_salary'] >= 70000)]

## Popularity of Hack `Meta`

Meta/Facebook has developed a new programing language called Hack.To measure the popularity of Hack they ran a survey with their employees. The survey included data on previous programing familiarity as well as the number of years of experience, age, gender and most importantly satisfaction with Hack. Due to an error location data was not collected, but your supervisor demands a report showing average popularity of Hack by office location. Luckily the user IDs of employees completing the surveys were stored.
Based on the above, find the average popularity of the Hack per office location.
Output the location along with the average popularity.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
facebook_employees.merge(facebook_hack_survey,left_on='id',right_on='employee_id').groupby('location')['popularity'].mean().sort_values(ascending=False).reset_index()

## Order Details `Shopify`

Find order details made by Jill and Eva.
Consider the Jill and Eva as first names of customers.
Output the order date, details and cost along with the first name.
Order records based on the customer id in ascending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
customers[customers['first_name'].isin(['Jill','Eva'])].merge(orders,left_on='id',right_on='cust_id')[['first_name','order_date','order_details','total_order_cost']]

## Number of Shipments Per Month `Amazon`

Write a query that will calculate the number of shipments per month. The unique key for one shipment is a combination of shipment_id and sub_id. Output the year_month in format YYYY-MM and the number of shipments in that month.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
amazon_shipment['month'] = amazon_shipment['shipment_date'].dt.to_period('M')

amazon_shipment['uni_id'] = amazon_shipment['shipment_id'].astype(str) + ' '+ amazon_shipment['sub_id'].astype(str)

amazon_shipment.groupby('month',as_index=False)['uni_id'].nunique()

## MacBookPro User Event Count `Apple`

Count the number of user events performed by MacBookPro users.
Output the result along with the event name.
Sort the result based on the event count in the descending order.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
playbook_events.query('device == "macbook pro"')['event_name'].value_counts().reset_index()

## Most Profitable Financial Company `Forbes`

Find the most profitable company from the financial sector. Output the result along with the continent.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
company = forbes_global_2010_2014.query('sector == "Financials"').groupby(['company'],as_index=False)['profits'].sum().sort_values(by='profits',ascending=False).head(1)['company'].values[0]

forbes_global_2010_2014[forbes_global_2010_2014['company'] == company][['company','continent']]

## Churro Activity Date `City of Los Angeles`

Find the inspection date and risk category (pe_description) of facilities named 'STREET CHURROS' that received a score below 95.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
los_angeles_restaurant_health_inspections.query('facility_name == "STREET CHURROS" & score < 95')[['activity_date','pe_description']]

## Number of violations `City of San Franciso`

You are given a dataset of health inspections that includes details about violations. Each row represents an inspection, and if an inspection resulted in a violation, the violation_id column will contain a value.


Count the total number of violations that occurred at 'Roxanne Cafe' for each year, based on the inspection date. Output the year and the corresponding number of violations in ascending order of the year.

In [ ]:
# Import your libraries
import pandas as pd

# Start writing code
df = sf_restaurant_health_violations.query('business_name == "Roxanne Cafe"')

df['year'] = df['inspection_date'].dt.year

df['year'].value_counts().reset_index()

## April Admin Employees `Microsoft`

Find the number of employees working in the Admin department that joined in April or later, in any year.

In [2]:
# Import your libraries
import pandas as pd

# Start writing code
worker[worker['joining_date'].dt.month > 3].query('department == "Admin"').shape[0]